<%- include('../includes/header.ejs')%>
    </head>

    <body>
        <%- include('../includes/top')%>
            <%- include('../includes/navbar')%>
                <div class="container-fluid pt-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-12 white_shd full margin_bottom_30">
                            <h3 style="color:orangered"> Total Votes: <%=totalVotes%></h3>
                           <center style="margin-bottom:2% ;"><h4>Contestants Voting Summary Page</h4> </center>
                            <table class="table table-striped">
                                <tr>
                                    <th>SN</th>
                                    <th>Stage Name</th>
                                    <th>Total Votes</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                    <th>Action</th>
                                </tr>
                                <% for(var i = 0; i< contestants.length; i++) {%> 
                                
                                    <tr>
                                        <td><%=i+1%></td>
                                        <td>
                                            <%=contestants[i].stagename%>
                                        </td>
                                        <td>
                                            <%=contestants[i].totalVotes%>
                                        </td>
                                        <td>
                                            <%=contestants[i].status%>
                                        </td>
                                        <td>
                                            <a href="/edit/<%=contestants[i]._id%>">Edit</a>
                                        </td>
                                        <td>
                                            <a href="/vote/<%=contestants[i]._id%>">Vote</a>
                                        </td>
                                    </tr>
                                    <%}%>
                            </table>
                        </div>
                    </div>
                </div>
                <%- include('../includes/footer.ejs') %>
    </body>

    </html>