<%- include('../includes/header.ejs')%>
    </head>

    <body>
        <%- include('../includes/top')%>
            <%- include('../includes/navbar')%>
        <div class="container-fluid pt-5">
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-12 white_shd full margin_bottom_30">
                  <h2>Total Votes: <%=totalVotes%></h2> 
                  <h2 style="margin-top: 2%; color:orangered">Total Amount: <%=totalAmount%></h2> 
                    <center style="margin-bottom: 2%;"><h4> Contestants Voting History Page</h4></center>
                    <table class="table table-striped">
                    <tr>
                        <th>SN</th>
                        <th>Stage Name</th>
                        <th>Amount</th>
                        <th>Total Votes</th>
                        <th>Email</th>
                    </tr>
                   <% for(var i = 0; i< votesHistory.length; i++) {%> 
                 
                    <tr>
                        <td><%=i+1 %></td>
                        <td><%=votesHistory[i].stagename%></td>
                        <td><%=votesHistory[i].amount%></td>
                        <td><%=votesHistory[i].totalVotes%></td>
                        <td><%=votesHistory[i].email%></td>
                    </tr>
                    <%}%>
                </table>
                </div>
			</div>
		</div>
                <%- include('../includes/footer.ejs') %>
    </body>

    </html>