<%- include('./includes/header.ejs')%>
    </head>

    <body>
        <%- include('./includes/top')%>
            <%- include('./includes/navbar')%>

                <div class="container-fluid pt-5">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4">
                            <div class="login-wrap p-0">
<%=error%>
                            </div>
                        </div>
                    </div>
                </div>
             

                <%- include('./includes/footer')%>
    </body>

    </html>